@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}
* {
  box-sizing: border-box;
  font-family: monospace;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: #e32931;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
}
header .logo {
  width: 200px;
}

#pokedex {
  background-attachment: fixed;
  background-size: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  width: 100%;
}
#pokedex .li {
  border-radius: 20px;
  box-shadow: -2px 20px 12px -17px rgba(0, 0, 0, 0.75);
  display: flex;
  font-weight: bold;
  height: 330px;
  margin-bottom: 40px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1.5s;
  width: 230px;
}
#pokedex .front,
#pokedex .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 2px outset rgb(240, 233, 233);
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#pokedex .front {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#pokedex .back {
  background-color: #e32931;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 20px;
  text-align: center;
  transform: rotateY(180deg);
}
#pokedex .back .img-back-div {
  height: 50px;
  margin-left: 86px;
  margin-top: 10px;
  width: 50px;
}
#pokedex .back .img-back-div .imgBack {
  height: 100%;
  width: 100%;
}
#pokedex .back .h2Back {
  background-color: transparent;
  background-color: yellow;
  border: 3px outset rgb(98, 74, 163);
  border-radius: 5px;
  bottom: 91px;
  color: white;
  font-family: "Pokemon";
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  left: 200px;
  letter-spacing: 5px;
  margin-top: 15px;
  padding-top: 10px;
  position: relative;
  text-shadow: 0px -2px 6px #000000;
  width: 70px;
}
#pokedex .back .heightWeight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 400px;
  justify-content: space-between;
  margin-top: -64px;
}
#pokedex .back .heightWeight p {
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 40px 5px 40px;
  padding: 3px;
}
#pokedex .back .experience {
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
#pokedex .back .hp {
  background-color: rgba(245, 245, 245, 0.45);
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 30px 5px 30px;
  border-radius: 5px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.li.is-flipped {
  transform: rotateY(180deg);
}

.headerCard {
  background-color: yellow;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.headerCard h3 {
  font-family: "Pokemon";
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  padding-right: 15px;
  text-shadow: 0px -2px 6px #000000;
  letter-spacing: 3px;
}
.headerCard .name {
  color: white;
  font-family: "Pokemon";
  font-size: 20px;
  font-weight: 900;
  height: 50px;
  letter-spacing: 3.5px;
  padding-left: 19px;
  padding-top: 5px;
  text-shadow: 0px -2px 6px #000000;
  text-transform: uppercase;
  width: 150px;
}

.imageContainer {
  bottom: 40px;
  height: 200px;
  margin-left: 50px;
  padding-top: 30px;
  position: relative;
  width: 150px;
  z-index: 1;
}

.imgFront {
  align-items: center;
  position: relative;
  bottom: 16px;
  width: 100px;
}

#circle {
  background: rgb(255, 255, 255);
  border-radius: 70%;
  bottom: 149px;
  height: 30%;
  left: 60px;
  opacity: 20%;
  position: absolute;
  width: 50%;
  z-index: 0;
}

span {
  font-size: 24px;
  font-weight: 400px;
}

span p {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  margin: 5px;
  text-align: justify;
}

#typeDiv {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 10px;
  width: 25px;
  box-shadow: 11px 16px 19px -12px rgba(0, 0, 0, 0.75);
}
#typeDiv #nameType {
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  border: 1.8px solid #fff;
  margin-top: 3px;
  border-radius: 50%;
}

.buttons-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.buttons-filter .btn-type {
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50px;
  box-shadow: 11px 16px 19px -12px rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  margin: 6px;
  margin-top: 15px;
  padding: 20px;
  text-shadow: 2px 2px 2px #000000;
}
.buttons-filter #all {
  background-image: url("./assets/pokebalicon.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50px;
  box-shadow: 11px 16px 19px -12px rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  margin: 6px;
  margin-top: 15px;
  padding: 20px;
  text-shadow: 2px 2px 2px #000000;
}
.buttons-filter button:hover {
  transform: scale(1.1);
}

.search {
  background-color: white;
  border: 0;
  border-radius: 120px;
  box-shadow: inset 2px 2px 5px black, inset -5px -2px 10px white;
  height: 30px;
  text-align: center;
  width: 200px;
}
.search .search::-webkit-input-placeholder {
  color: #2359aa;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  opacity: 50%;
  text-align: center;
}
.search .search::-moz-placeholder {
  color: #2359aa;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.search .search:-ms-input-placeholder {
  color: #2359aa;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.paginacion {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.paginacion .previous,
.paginacion .next {
  background-color: yellow;
  border: none;
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  margin-right: 12px;
  width: 60px;
}
.paginacion .page {
  background-color: transparent;
  border: none;
  bottom: 0px;
  color: rgb(98, 74, 163);
  height: 51px;
  padding: 10px;
  padding-top: 0px;
  right: 0px;
  text-shadow: none;
  width: 36px;
}

#preloader {
  background: #fff url(./assets/loader.gif) no-repeat center;
  background-size: 10%;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 100;
}/*# sourceMappingURL=style.css.map */