* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  background-color: rgb(255, 0, 0);
  border-bottom: 5px solid #195dac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  width: 300px;
}

.logo {
  width: 400px;
}

#pokedex {
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  text-align: center;
  width: 100%;
}
#pokedex .li {
  background-color: rgb(113, 105, 190);
  border-radius: 80px 15px 80px 15px;
  box-shadow: 2px 3px 10px 2px rgba(34, 12, 12, 0.56);
  display: flex;
  font-weight: bold;
  height: 400px;
  margin-bottom: 40px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1.5s;
  width: 270px;
  height: 400px;
}
#pokedex .front,
#pokedex .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#pokedex .front {
  border-color: yellow;
  border-radius: 80px 15px 80px 15px;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#pokedex .back {
  border-color: yellow;
  border-radius: 10px 80px 10px 80px;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 20px;
  text-align: center;
  transform: rotateY(180deg);
}
#pokedex .back .heightWeight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 400px;
  justify-content: space-between;
}
#pokedex .back .heightWeight p {
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 40px 5px 40px;
  padding: 3px;
}
#pokedex .back .experience {
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
#pokedex .back .hp {
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: rgba(245, 245, 245, 0.45);
  border-radius: 5px 30px 5px 30px;
}

.li.is-flipped {
  transform: rotateY(180deg);
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 26px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
}

.imageContainer {
  padding: 20px;
  height: auto;
  width: 150px;
  margin-left: 60px;
  z-index: 1;
}

.imgFront {
  align-items: center;
  height: 100%;
  width: 100%;
}

#circle {
  background: rgb(255, 255, 255);
  border-radius: 48% 52% 52% 48%/57% 61% 39% 43%;
  height: 50%;
  left: 40px;
  opacity: 30%;
  position: absolute;
  top: 80px;
  width: 72%;
  z-index: 0;
}

h3 {
  padding-top: 5px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

span {
  border-radius: 30px 10px 30px 10px;
  font-size: 24px;
  font-weight: 400px;
}

p {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  margin: 5px;
  text-align: justify;
}

#typeDiv {
  padding-top: 15px;
}

#nameType {
  background-color: rgb(255, 255, 69);
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  text-shadow: 1px 1px 1px #000000;
}

.buttons-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.buttons-filter .btn-type {
  border: 0;
  border-radius: 50px;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 6px;
  margin-top: 15px;
  padding: 20px;
  text-shadow: 2px 2px 2px #000000;
  background-size: contain;
  background-repeat: no-repeat;
}
.buttons-filter button:hover {
  transform: scale(1.1);
}

.search {
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.search::-webkit-input-placeholder {
  color: grey;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.paginacion {
  align-items: center;
  display: flex;
  justify-content: center;
}
.paginacion .previous,
.paginacion .next {
  background-color: #195dac;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  box-shadow: 4px 5px 18px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.paginacion .page {
  color: black;
  text-shadow: none;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */